html, 
body {
    height: 100%;
    width: 100%;
}

#cover{
	 content: url("background3.jpg");
	 width: 100%;
	 height: 100%
}

#intro{
	margin-top: 1%;
}

#myPic{
	padding: 0px;
	margin-top: 1%;
}

.navbar{
	margin-bottom: 0%;
    background-color: white;
}
.nav.navbar-nav.navbar-right li a ,
.navbar-brand{
    color: black;
}

.block1{
	margin-right: 5%;
	margin-left: 5%;
}

#menu{
	margin-top: 1%;
}

#intro{
	text-align: center;
	font-size : medium;
	
}

#project h2{
	 text-align: center;
}

.container-fluid{
	padding-left :  0px;
	padding-right: 0px;
}


#cover{
	background-color: #00FFFF;
	height: 60%;
}

#content{
	margin-top: 1%;
	margin-bottom: 2%;
}

#about{
	margin-top: 3%;
	height: 20%;
	margin-bottom: 5%;
}

#left, #mid, #right{
	margin-bottom: 1%;
}

#top1img, #top2img, #top3img,
#top11img, #top22img, #top33img{
	height: 100%;
    width: 100%;
}

#project img { cursor: pointer; }

#notempty{
	text-align:center
}

.contact{
	margin-bottom: 10%;
}



